@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: #3D5656;
}

html,
body {
  background-color: #CFFDE1;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculatorDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 1rem;
  background-color: #68B984;
  border-radius: 20px;
}


.buttonDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ulDisplay {
  display: flex;
  flex: 1 1;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.btn {
  padding: 20px;
  background-color: #FED049;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  margin: .3rem;
  border-radius: 15px;
  border: 2px solid white;
  width: 90%;
}

.btn:hover {
  background-color: #CFFDE1;
}

.inputDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 97%; 
  background-color: #FED049;
  border: 2px solid white;
  border-radius: 20px;
  height: 70px;
}

.inputStyle {
  padding-right: .5rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  font-size: 25px;
}

.clearBtn {
  width: 100%;
}

.clearBtn .btn {
  padding: 1rem;
  width: 100%;
  font-size: 25px;
}